<h1>It's developers Paradise.</h1>
<p>How to learn web designing .... </p>
<div class="container">

<iframe src="http://www.google.com" name="iframe_a" height="300px" width="100%" title="Iframe Example"></iframe>

<p><a href="https://www.w3schools.com" target="iframe_a">W3Schools.com</a></p>

<p>When the target attribute of a link matches the name of an iframe, the link will open in the iframe.</p>


<div class="card">
  <a href="{{this.url}}">{{this.title}}</a>

  <p>{{this.source}}</p>
</div>

</div>
                {{!-- <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>



              <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-617a33b99615e692"></script> --}}