<form action="/users/new" method="post">
    <label>Series Name</label>
    <input name="name" type="text">
    <label>Short</label>
    <input name="short" type="text">
    <label>Review</label>
    <textarea name="review" id="" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
</form>